$shadow-color: #777;
$border: 1px solid;
$sun-color: red;
$primary-color: blue;

// header

.header {
  box-shadow: 0 6px 6px -6px $shadow-color;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;

  img {
    width: 260px;
    height: 65px;
  }
}

// home container and tab

.contained {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 25% 50% 25%;
  // padding: 0 40px;

  div {
    margin: 10px 10px;
  }

  .tabs {
    border-right: $border $shadow-color;
    .tab-head {
      padding: 10px 20px;
      font-weight: 500;
      cursor: grab;
    }

    .tab-container{
      margin-top: 20px;
    }

    .active {
      border-bottom: 2px solid $sun-color;
      background-color: rgba(246, 246, 246, 0.525);
    }
  }
}

// circle of selected



// every news

.news {
  border-bottom: $border $shadow-color;
  margin: 10px;
  p {
    margin: 0;
    font-size: 36px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    &:hover {
      color: $primary-color;
    }
  }
}

.select {
  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 10px;
  }
  .text {
    font-size: 14px;
    margin-right: 20px;
    span {
      color: $sun-color;
    }
  }
  .image {
    width: 100px;
    img {
      width: 100px;
    }
  }
}

.select-1 {
  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $primary-color;
    margin: 0 10px;
  }
  .span-text{
    color: $sun-color;
  }
  img {
    width: 100%;
    height: 250px;
  }
}

// detaails of news

.details {
  width: 80%;
  margin: 0 10%;
  img {
    width: 100%;
  }
  p {
    margin: 20px 10%;
  }
}

.footer{
  text-align: center;
  margin: 40px 0;
}

// media query

@media only screen and (max-width: 992px) {
  .contained {
    grid-template-columns: 50% 50%;
    .tabs {
      border-right: none;
    }
  }
}

@media only screen and (max-width: 688px) {
  .contained {
    grid-template-columns: repeat(1, 1fr);
    .tabs {
      border-right: none;
    }
  }
}
