$shadow-color: #777;
$border: 1px solid;

// header

.header {
  box-shadow: 0 6px 6px -6px $shadow-color;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;

  img {
    width: 260px;
    height: 65px;
  }
}

// home container and tab 

.contained {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 40px;

  .tabs {
    border-right: $border $shadow-color;
    .tab-head {
      padding: 10px 20px;
      font-weight: 500;
      cursor: grab;
    }

    .active {
      border-bottom: 2px solid red;
      background-color: rgba(246, 246, 246, 0.525);
    }
  }
}

// circle of selected 

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  margin: 0 10px;
}

// every news 

.news {
  border-bottom: $border $shadow-color;
  margin: 10px;
  p{
    margin: 0;
    font-size: 36px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    &:hover {
      color: blue;
    }
  }
}

.select-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  .text{
    font-size: 14px;
    margin-right: 20px;
  }
  .image{
    width: 100px;
    img{
      width: 100px;
    }
  }
}

// detaails of news 

.details {
  width: 80%;
  margin: 0 10%;
  img {
    width: 100%;
  }
  p {
    margin: 15px 10%;
  }
}

// media query 

@media only screen and (max-width: 992px) {
  .contained {
    grid-template-columns: repeat(2, 1fr);
    .tabs {
      border-right: none;
    }
  }
}

@media only screen and (max-width: 688px) {
  .contained {
    grid-template-columns: repeat(1, 1fr);
    .tabs {
      border-right: none;
    }
  }
}
